* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.container {
    background-color: #080710;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loginForm {
    width: 400px;
    position: relative;
}

.shape {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
}

.shapeOne {
    background: linear-gradient(#0D47A1, #42A5F5);
    right: 300px;
    bottom: 300px;
}

.shapeTwo {
    background: linear-gradient(45deg, #E65100, #FFA726);
    left: 300px;
    top: 300px;
}

.form {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.13);
    color: #fff;
    padding: 50px 35px 35px 35px;
    border: 2px solid rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.formTitle {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.formInput {
    margin-bottom: 26px;
}

.formLabel {
    font-size: 16px;
}

.formInput {
    font-size: 14px;
    font-weight: 300;
    display: block;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 0 10px;
    width: 100%;
    margin-top: 8px;
    color: #fff;
    border-radius: 4px;
}

.formInput::placeholder {
    color: #e5e5e5;
}

.btn {
    background-color: #fff;
    color: #080710;
    border-radius: 4px;
    text-align: center;
    padding: 15px 0;
    display: block;
    font-size: 18px;
    width: 100%;
    margin-top: 46px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {

    .container {
        overflow: hidden;
    }

    .loginForm {
        width: 80%;
        margin: 20px auto;
    }

    .shape {
        width: 150px;
        height: 150px;
    }

    .shapeOne {
        left: 150px;
        top: 150px;
    }

    .shapeTwo {
        right: 150px;
        bottom: 150px;
    }
}

@media screen and (max-width: 480px) {

    .container {
        overflow: hidden;
    }

    .loginForm {
        width: 90%;
        margin: 20px auto;
    }

    .shape {
        width: 150px;
        height: 150px;
    }

    .shapeOne {
        left: -70px;
        top: -70px;
    }

    .shapeTwo {
        right: -70px;
        bottom: -70px;
    }
}